langchain>=0.3.0
langchain-core>=0.3.0
langchain-google-genai>=2.0.0
langchain-chroma
langgraph>=0.2.0
fastapi
uvicorn
python-multipart
google-genai
python-dotenv
pydantic>=2.9.0
pydantic-settings>=2.4.0
pillow
chromadb
langchain-text-splitters
groq>=1.7.0
